create database users_data_new;
use users_data_new;

-- Blockchain Transactions Data
CREATE TABLE BlockchainTransactions (
    TransactionID INT PRIMARY KEY, --
    Timestamp DATETIME,
    SenderAddress VARCHAR(255),
    ReceiverAddress VARCHAR(255),
    AmountTransferred DECIMAL(18, 2),
    TransactionFee DECIMAL(18, 2),
    BlockHeight INT
);

-- User Profile Information
CREATE TABLE UserProfile (
    UserID INT PRIMARY KEY,--
    Name VARCHAR(255),--
    Address VARCHAR(255),--
    Email VARCHAR(255),--
    PhoneNumber VARCHAR(20),--
    KYCStatus VARCHAR(50),
    AccountCreationDate DATE,
    FOREIGN KEY (UserID) REFERENCES BlockchainTransactions(TransactionID)
);

-- Behavioral Patterns
CREATE TABLE BehavioralPatterns (
    UserID INT PRIMARY KEY,
    TransactionFrequency DECIMAL(18, 2),
    TransactionSizeDistribution VARCHAR(255),
    GeographicInconsistencies VARCHAR(255),
    TimeOfDayPatterns VARCHAR(255),
    RegularVsIrregularBehavior VARCHAR(255),
    ChangesInBehaviorOverTime VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES UserProfile(UserID)
);

-- Credit Score and Financial History
CREATE TABLE CreditAndFinancialHistory (
    UserID INT PRIMARY KEY,--
    CreditScore INT,
    LoanRepaymentHistory VARCHAR(255),
    CreditCardUtilization DECIMAL(5, 2),
    IncomeLevel DECIMAL(18, 2),
    DebtToIncomeRatio DECIMAL(5, 2),
    PastFraudulentActivity VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES BehavioralPatterns(UserID)
);

-- Network Analysis
CREATE TABLE NetworkAnalysis (
    SenderUserID INT,
    ReceiverUserID INT,
    DegreeCentrality DECIMAL(18, 2),
    ClusteringCoefficients DECIMAL(18, 2),
    AnomaliesInNetwork VARCHAR(255),
    FOREIGN KEY (SenderUserID) REFERENCES UserProfile(UserID),
    FOREIGN KEY (ReceiverUserID) REFERENCES UserProfile(UserID)
);

-- Sentiment Analysis (NLP)
CREATE TABLE SentimentAnalysis (
    UserID INT PRIMARY KEY, --
    SocialMediaSentiment VARCHAR(255),
    TransactionSentiment VARCHAR(255),
    FinancialTransactionSentiment VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES CreditAndFinancialHistory(UserID)
);

-- Community Behavior
CREATE TABLE CommunityBehavior (
    UserID INT PRIMARY KEY,--
    ReputationScore INT,
    ParticipationInForums VARCHAR(255),
    FeedbackFromPeers VARCHAR(255),
    CommunityEndorsementsWarnings VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES SentimentAnalysis(UserID)
);

-- System and Platform Scores
CREATE TABLE SystemAndPlatformScores (
    UserID INT PRIMARY KEY,--
    SystemTrustScore INT,
    PlatformReliabilityScore INT,
    PastSecurityIncidents VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES CommunityBehavior(UserID)
);

-- Device and IP Information
CREATE TABLE DeviceAndIPInformation (
    UserID INT PRIMARY KEY,--
    DeviceID VARCHAR(50),
    IPAddress VARCHAR(50),
    DeviceLocation VARCHAR(255),
    DeviceTypeAndVersion VARCHAR(255),
    ProxyOrVPNUsage VARCHAR(50),
    FOREIGN KEY (UserID) REFERENCES SystemAndPlatformScores(UserID)
);

-- Machine Learning Features
CREATE TABLE MachineLearningFeatures (
    UserID INT PRIMARY KEY,--
    HistoricalFraudData VARCHAR(255),
    AnomalyDetectionFeatures VARCHAR(255),
    ClusteringFeatures VARCHAR(255),
    DeepLearningModelFeatures VARCHAR(255),
    FOREIGN KEY (UserID) REFERENCES DeviceAndIPInformation(UserID)
);

-- Historical Fraud Data
CREATE TABLE HistoricalFraudData (
    TransactionID INT PRIMARY KEY,--
    FraudulentTransactions VARCHAR(255),
    PreviousFraudulentActivity VARCHAR(255),
    BlacklistedEntities VARCHAR(255),
    FOREIGN KEY (TransactionID) REFERENCES BlockchainTransactions(TransactionID)
);

-- External Data Sources
CREATE TABLE ExternalDataSources (
    DataID INT PRIMARY KEY,
    EconomicIndicators VARCHAR(255),
    NewsEvents VARCHAR(255),
    RegulatoryChanges VARCHAR(255),
    MarketVolatility VARCHAR(255)
);
-- Blockchain Transactions Data
INSERT INTO BlockchainTransactions (TransactionID, Timestamp, SenderAddress, ReceiverAddress, AmountTransferred, TransactionFee, BlockHeight)
VALUES
    (1, '2024-03-13 09:25:00', 'sender_address_1', 'receiver_address_1', 100.25, 0.5, 11234),
    (2, '2024-03-12 18:45:00', 'sender_address_2', 'receiver_address_2', 250.75, 1.2, 11235),
    (3, '2024-03-11 14:30:00', 'sender_address_3', 'receiver_address_3', 50.10, 0.25, 11236),
    (4, '2024-03-10 11:15:00', 'sender_address_4', 'receiver_address_4', 75.60, 0.4, 11237),
    (5, '2024-03-09 08:10:00', 'sender_address_5', 'receiver_address_5', 150.30, 0.8, 11238),
    (6, '2024-03-08 16:20:00', 'sender_address_6', 'receiver_address_6', 300.90, 1.5, 11239),
    (7, '2024-03-07 12:45:00', 'sender_address_7', 'receiver_address_7', 200.75, 1.0, 11240),
    (8, '2024-03-06 10:30:00', 'sender_address_8', 'receiver_address_8', 80.40, 0.3, 11241),
    (9, '2024-03-05 14:55:00', 'sender_address_9', 'receiver_address_9', 120.20, 0.6, 11242),
    (10, '2024-03-04 17:20:00', 'sender_address_10', 'receiver_address_10', 180.65, 0.9, 11243),
    (11, '2024-03-03 09:30:00', 'sender_address_11', 'receiver_address_11', 250.40, 1.2, 11244),
    (12, '2024-03-02 14:00:00', 'sender_address_12', 'receiver_address_12', 300.80, 1.5, 11245),
    (13, '2024-03-01 11:45:00', 'sender_address_13', 'receiver_address_13', 75.20, 0.4, 11246),
    (14, '2024-02-29 16:10:00', 'sender_address_14', 'receiver_address_14', 150.90, 0.8, 11247),
    (15, '2024-02-28 13:20:00', 'sender_address_15', 'receiver_address_15', 200.25, 1.0, 11248),
    (16, '2024-02-27 08:55:00', 'sender_address_16', 'receiver_address_16', 90.60, 0.3, 11249),
    (17, '2024-02-26 10:25:00', 'sender_address_17', 'receiver_address_17', 130.70, 0.6, 11250),
    (18, '2024-02-25 14:35:00', 'sender_address_18', 'receiver_address_18', 175.40, 0.9, 11251),
    (19, '2024-02-24 16:50:00', 'sender_address_19', 'receiver_address_19', 220.85, 1.1, 11252),
    (20, '2024-02-23 09:40:00', 'sender_address_20', 'receiver_address_20', 260.30, 1.3, 11253);

-- User Profile Information
INSERT INTO UserProfile (UserID, Name, Address, Email, PhoneNumber, KYCStatus, AccountCreationDate)
VALUES
    (1, 'John Doe', '123 Main St, Anytown', 'john.doe@example.com', '123-456-7890', 'Verified', '2023-01-15'),
    (2, 'Jane Smith', '456 Elm St, Othertown', 'jane.smith@example.com', '987-654-3210', 'Verified', '2023-02-20'),
    (3, 'Alice Johnson', '789 Oak St, Anycity', 'alice.johnson@example.com', '555-555-5555', 'Pending', '2023-03-10'),
    (4, 'Michael Brown', '321 Pine St, Somecity', 'michael.brown@example.com', '222-333-4444', 'Verified', '2023-04-05'),
    (5, 'Emma Garcia', '654 Maple St, Othercity', 'emma.garcia@example.com', '666-777-8888', 'Verified', '2023-05-12'),
    (6, 'Christopher Martinez', '987 Cedar St, Anothercity', 'christopher.martinez@example.com', '999-888-7777', 'Pending', '2023-06-20'),
    (7, 'Olivia Robinson', '741 Birch St, Yetanothercity', 'olivia.robinson@example.com', '333-222-1111', 'Verified', '2023-07-03'),
    (8, 'William Clark', '852 Oakwood St, Differentcity', 'william.clark@example.com', '777-888-9999', 'Verified', '2023-08-18'),
    (9, 'Sophia Rodriguez', '963 Elmwood St, Uniquecity', 'sophia.rodriguez@example.com', '111-222-3333', 'Pending', '2023-09-25'),
    (10, 'James Lewis', '159 Spruce St, Specialcity', 'james.lewis@example.com', '444-555-6666', 'Verified', '2023-10-30'),
    (11, 'Charlotte Lee', '357 Cedarwood St, Quirkytown', 'charlotte.lee@example.com', '888-999-0000', 'Verified', '2023-11-14'),
    (12, 'Daniel Walker', '258 Birchwood St, Eccentriccity', 'daniel.walker@example.com', '000-111-2222', 'Pending', '2023-12-19'),
    (13, 'Amelia Hall', '852 Pinecrest St, Zanycity', 'amelia.hall@example.com', '777-666-5555', 'Verified', '2024-01-24'),
    (14, 'Benjamin Allen', '963 Oakcrest St, Funzone', 'benjamin.allen@example.com', '111-000-9999', 'Verified', '2024-02-09'),
    (15, 'Mia Young', '741 Maplecrest St, Adventureland', 'mia.young@example.com', '333-444-5555', 'Pending', '2024-03-05'),
    (16, 'Ethan Hernandez', '159 Birchcrest St, Mysteryville', 'ethan.hernandez@example.com', '555-666-7777', 'Verified', '2024-04-10'),
    (17, 'Emily King', '357 Cedarcrest St, Whimsytown', 'emily.king@example.com', '888-777-6666', 'Verified', '2024-05-15'),
    (18, 'Alexander Scott', '258 Sprucecrest St, Dreamville', 'alexander.scott@example.com', '000-999-8888', 'Pending', '2024-06-20'),
    (19, 'Sebastian Green', '852 Birchwoodcrest St, Fantasyland', 'sebastian.green@example.com', '777-000-1111', 'Verified', '2024-07-25'),
    (20, 'Madison Baker', '963 Pinecrestwood St, Wonderland', 'madison.baker@example.com', '111-222-3333', 'Verified', '2024-08-30');

-- Behavioral Patterns
INSERT INTO BehavioralPatterns (UserID, TransactionFrequency, TransactionSizeDistribution, GeographicInconsistencies, TimeOfDayPatterns, RegularVsIrregularBehavior, ChangesInBehaviorOverTime)
VALUES
    (1, 12.5, 'Normal', 'No', 'Morning', 'Regular', 'Stable'),
    (2, 8.2, 'Skewed towards large transactions', 'Yes', 'Evening', 'Irregular', 'Increasing'),
    (3, 20.1, 'Normal', 'No', 'Afternoon', 'Regular', 'Stable'),
    (4, 15.3, 'Normal', 'Yes', 'Night', 'Irregular', 'Stable'),
    (5, 18.7, 'Normal', 'No', 'Morning', 'Regular', 'Stable'),
    (6, 10.9, 'Skewed towards small transactions', 'No', 'Evening', 'Regular', 'Decreasing'),
    (7, 22.0, 'Normal', 'Yes', 'Afternoon', 'Irregular', 'Increasing'),
    (8, 9.6, 'Normal', 'No', 'Night', 'Regular', 'Stable'),
    (9, 14.2, 'Normal', 'No', 'Morning', 'Regular', 'Stable'),
    (10, 16.8, 'Normal', 'Yes', 'Evening', 'Irregular', 'Stable'),
    (11, 11.5, 'Skewed towards large transactions', 'No', 'Afternoon', 'Regular', 'Decreasing'),
    (12, 19.4, 'Normal', 'No', 'Night', 'Regular', 'Increasing'),
    (13, 13.7, 'Normal', 'Yes', 'Morning', 'Irregular', 'Stable'),
    (14, 21.2, 'Normal', 'No', 'Evening', 'Regular', 'Stable'),
    (15, 8.9, 'Normal', 'No', 'Afternoon', 'Regular', 'Stable'),
    (16, 17.6, 'Normal', 'Yes', 'Night', 'Irregular', 'Increasing'),
    (17, 12.8, 'Normal', 'No', 'Morning', 'Regular', 'Stable'),
    (18, 14.9, 'Normal', 'No', 'Evening', 'Regular', 'Stable'),
    (19, 20.5, 'Normal', 'Yes', 'Afternoon', 'Irregular', 'Decreasing'),
    (20, 10.3, 'Skewed towards small transactions', 'No', 'Night', 'Regular', 'Stable');

-- Credit Score and Financial History
INSERT INTO CreditAndFinancialHistory (UserID, CreditScore, LoanRepaymentHistory, CreditCardUtilization, IncomeLevel, DebtToIncomeRatio, PastFraudulentActivity)
VALUES
    (1, 720, 'Good', 0.3, 50000.00, 0.25, 'No'),
    (2, 650, 'Fair', 0.5, 40000.00, 0.35, 'No'),
    (3, 780, 'Excellent', 0.2, 60000.00, 0.15, 'No'),
    (4, 700, 'Good', 0.4, 55000.00, 0.28, 'No'),
    (5, 680, 'Good', 0.3, 48000.00, 0.30, 'No'),
    (6, 660, 'Fair', 0.6, 42000.00, 0.32, 'No'),
    (7, 750, 'Excellent', 0.2, 65000.00, 0.20, 'No'),
    (8, 700, 'Good', 0.4, 55000.00, 0.25, 'No'),
    (9, 730, 'Good', 0.3, 52000.00, 0.22, 'No'),
    (10, 680, 'Fair', 0.5, 45000.00, 0.30, 'No'),
    (11, 710, 'Good', 0.4, 57000.00, 0.26, 'No'),
    (12, 780, 'Excellent', 0.2, 60000.00, 0.18, 'No'),
    (13, 690, 'Good', 0.3, 49000.00, 0.28, 'No'),
    (14, 720, 'Good', 0.3, 51000.00, 0.24, 'No'),
    (15, 660, 'Fair', 0.5, 43000.00, 0.31, 'No'),
    (16, 740, 'Excellent', 0.2, 63000.00, 0.21, 'No'),
    (17, 700, 'Good', 0.4, 55000.00, 0.27, 'No'),
    (18, 710, 'Good', 0.3, 53000.00, 0.23, 'No'),
    (19, 780, 'Excellent', 0.2, 61000.00, 0.19, 'No'),
    (20, 670, 'Fair', 0.6, 44000.00, 0.33, 'No');

-- Network Analysis
INSERT INTO NetworkAnalysis (SenderUserID, ReceiverUserID, DegreeCentrality, ClusteringCoefficients, AnomaliesInNetwork)
VALUES
    (1, 2, 0.75, 0.62, 'None'),
    (2, 3, 0.82, 0.57, 'None'),
    (3, 1, 0.69, 0.75, 'None'),
    (4, 5, 0.76, 0.68, 'None'),
    (5, 6, 0.83, 0.59, 'None'),
    (6, 7, 0.71, 0.72, 'None'),
    (7, 8, 0.79, 0.66, 'None'),
    (8, 9, 0.68, 0.79, 'None'),
    (9, 10, 0.75, 0.65, 'None'),
    (10, 11, 0.81, 0.61, 'None'),
    (11, 12, 0.72, 0.74, 'None'),
    (12, 13, 0.78, 0.67, 'None'),
    (13, 14, 0.67, 0.81, 'None'),
    (14, 15, 0.74, 0.64, 'None'),
    (15, 16, 0.80, 0.60, 'None'),
    (16, 17, 0.73, 0.73, 'None'),
    (17, 18, 0.77, 0.69, 'None'),
    (18, 19, 0.66, 0.80, 'None'),
    (19, 20, 0.72, 0.76, 'None'),
    (20, 1, 0.79, 0.63, 'None');

-- Sentiment Analysis (NLP)
INSERT INTO SentimentAnalysis (UserID, SocialMediaSentiment, TransactionSentiment, FinancialTransactionSentiment)
VALUES
    (1, 'Positive', 'Neutral', 'Positive'),
    (2, 'Neutral', 'Negative', 'Neutral'),
    (3, 'Positive', 'Positive', 'Positive'),
    (4, 'Positive', 'Neutral', 'Positive'),
    (5, 'Neutral', 'Negative', 'Neutral'),
    (6, 'Positive', 'Positive', 'Positive'),
    (7, 'Positive', 'Neutral', 'Positive'),
    (8, 'Neutral', 'Negative', 'Neutral'),
    (9, 'Positive', 'Positive', 'Positive'),
    (10, 'Positive', 'Neutral', 'Positive'),
    (11, 'Neutral', 'Negative', 'Neutral'),
    (12, 'Positive', 'Positive', 'Positive'),
    (13, 'Positive', 'Neutral', 'Positive'),
    (14, 'Neutral', 'Negative', 'Neutral'),
    (15, 'Positive', 'Positive', 'Positive'),
    (16, 'Positive', 'Neutral', 'Positive'),
    (17, 'Neutral', 'Negative', 'Neutral'),
    (18, 'Positive', 'Positive', 'Positive'),
    (19, 'Positive', 'Neutral', 'Positive'),
    (20, 'Neutral', 'Negative', 'Neutral');

-- Community Behavior
INSERT INTO CommunityBehavior (UserID, ReputationScore, ParticipationInForums, FeedbackFromPeers, CommunityEndorsementsWarnings)
VALUES
    (1, 85, 'Active', 'Positive', 'Endorsed by community'),
    (2, 70, 'Moderate', 'Neutral', 'No warnings'),
    (3, 95, 'Active', 'Positive', 'Endorsed by community'),
    (4, 80, 'Active', 'Positive', 'Endorsed by community'),
    (5, 75, 'Moderate', 'Neutral', 'No warnings'),
    (6, 90, 'Active', 'Positive', 'Endorsed by community'),
    (7, 85, 'Active', 'Positive', 'Endorsed by community'),
    (8, 65, 'Moderate', 'Neutral', 'No warnings'),
    (9, 92, 'Active', 'Positive', 'Endorsed by community'),
    (10, 88, 'Active', 'Positive', 'Endorsed by community'),
    (11, 72, 'Moderate', 'Neutral', 'No warnings'),
    (12, 94, 'Active', 'Positive', 'Endorsed by community'),
    (13, 78, 'Active', 'Positive', 'Endorsed by community'),
    (14, 80, 'Moderate', 'Neutral', 'No warnings'),
    (15, 96, 'Active', 'Positive', 'Endorsed by community'),
    (16, 82, 'Active', 'Positive', 'Endorsed by community'),
    (17, 68, 'Moderate', 'Neutral', 'No warnings'),
    (18, 90, 'Active', 'Positive', 'Endorsed by community'),
    (19, 88, 'Active', 'Positive', 'Endorsed by community'),
    (20, 70, 'Moderate', 'Neutral', 'No warnings');

-- System and Platform Scores
INSERT INTO SystemAndPlatformScores (UserID, SystemTrustScore, PlatformReliabilityScore, PastSecurityIncidents)
VALUES
    (1, 90, 85, 'No'),
    (2, 80, 75, 'No'),
    (3, 95, 90, 'No'),
    (4, 85, 80, 'No'),
    (5, 75, 70, 'No'),
    (6, 92, 87, 'No'),
    (7, 88, 83, 'No'),
    (8, 70, 65, 'No'),
    (9, 94, 89, 'No'),
    (10, 91, 86, 'No'),
    (11, 78, 73, 'No'),
    (12, 96, 91, 'No'),
    (13, 82, 77, 'No'),
    (14, 80, 75, 'No'),
    (15, 90, 85, 'No'),
    (16, 85, 80, 'No'),
    (17, 75, 70, 'No'),
    (18, 92, 87, 'No'),
    (19, 88, 83, 'No'),
    (20, 80, 75, 'No');

-- Device and IP Information
INSERT INTO DeviceAndIPInformation (UserID, DeviceID, IPAddress, DeviceLocation, DeviceTypeAndVersion, ProxyOrVPNUsage)
VALUES
    (1, 'device_id_1', '192.168.1.10', 'New York', 'Mobile - iOS 14.5', 'No'),
    (2, 'device_id_2', '10.0.0.5', 'Los Angeles', 'Desktop - Windows 10', 'Yes'),
    (3, 'device_id_3', '172.16.0.3', 'Chicago', 'Mobile - Android 12', 'No'),
    (4, 'device_id_4', '192.168.1.20', 'San Francisco', 'Tablet - iPadOS 15.0', 'No'),
    (5, 'device_id_5', '10.0.0.10', 'Houston', 'Laptop - macOS 12.0', 'Yes'),
    (6, 'device_id_6', '192.168.1.30', 'Miami', 'Desktop - Windows 11', 'No'),
    (7, 'device_id_7', '10.0.0.15', 'Seattle', 'Mobile - iOS 15.0', 'Yes'),
    (8, 'device_id_8', '172.16.0.5', 'Boston', 'Tablet - Android 11', 'No'),
    (9, 'device_id_9', '192.168.1.40', 'Dallas', 'Laptop - Windows 10', 'Yes'),
    (10, 'device_id_10', '10.0.0.20', 'Phoenix', 'Mobile - Android 10', 'No'),
    (11, 'device_id_11', '192.168.1.50', 'Philadelphia', 'Desktop - macOS 11.0', 'Yes'),
    (12, 'device_id_12', '10.0.0.25', 'San Diego', 'Laptop - Windows 11', 'No'),
    (13, 'device_id_13', '192.168.1.60', 'Atlanta', 'Mobile - iOS 14.0', 'Yes'),
    (14, 'device_id_14', '10.0.0.30', 'Austin', 'Desktop - Linux Ubuntu 20.04', 'No'),
    (15, 'device_id_15', '172.16.0.10', 'Denver', 'Tablet - iOS 13.0', 'Yes'),
    (16, 'device_id_16', '192.168.1.70', 'Portland', 'Laptop - Windows 10', 'No'),
    (17, 'device_id_17', '10.0.0.35', 'Las Vegas', 'Mobile - Android 11', 'Yes'),
    (18, 'device_id_18', '172.16.0.15', 'Orlando', 'Desktop - macOS 12.0', 'No'),
    (19, 'device_id_19', '192.168.1.80', 'Minneapolis', 'Laptop - Windows 11', 'Yes'),
    (20, 'device_id_20', '10.0.0.40', 'Detroit', 'Mobile - iOS 15.0', 'No');

-- Machine Learning Features
INSERT INTO MachineLearningFeatures (UserID, HistoricalFraudData, AnomalyDetectionFeatures, ClusteringFeatures, DeepLearningModelFeatures)
VALUES
    (1, 'No', 'Yes', 'No', 'Yes'),
    (2, 'No', 'Yes', 'Yes', 'No'),
    (3, 'No', 'Yes', 'No', 'Yes'),
    (4, 'No', 'Yes', 'No', 'Yes'),
    (5, 'No', 'Yes', 'Yes', 'No'),
    (6, 'No', 'Yes', 'No', 'Yes'),
    (7, 'No', 'Yes', 'No', 'Yes'),
    (8, 'No', 'Yes', 'Yes', 'No'),
    (9, 'No', 'Yes', 'No', 'Yes'),
    (10, 'No', 'Yes', 'No', 'Yes'),
    (11, 'No', 'Yes', 'Yes', 'No'),
    (12, 'No', 'Yes', 'No', 'Yes'),
    (13, 'No', 'Yes', 'No', 'Yes'),
    (14, 'No', 'Yes', 'Yes', 'No'),
    (15, 'No', 'Yes', 'No', 'Yes'),
    (16, 'No', 'Yes', 'No', 'Yes'),
    (17, 'No', 'Yes', 'Yes', 'No'),
    (18, 'No', 'Yes', 'No', 'Yes'),
    (19, 'No', 'Yes', 'No', 'Yes'),
    (20, 'No', 'Yes', 'Yes', 'No');

-- Historical Fraud Data
INSERT INTO HistoricalFraudData (TransactionID, FraudulentTransactions, PreviousFraudulentActivity, BlacklistedEntities)
VALUES
    (1, 'No', 'No', 'None'),
    (2, 'No', 'No', 'None'),
    (3, 'No', 'No', 'None'),
    (4, 'No', 'No', 'None'),
    (5, 'No', 'No', 'None'),
    (6, 'No', 'No', 'None'),
    (7, 'No', 'No', 'None'),
    (8, 'No', 'No', 'None'),
    (9, 'No', 'No', 'None'),
    (10, 'No', 'No', 'None'),
    (11, 'No', 'No', 'None'),
    (12, 'No', 'No', 'None'),
    (13, 'No', 'No', 'None'),
    (14, 'No', 'No', 'None'),
    (15, 'No', 'No', 'None'),
    (16, 'No', 'No', 'None'),
    (17, 'No', 'No', 'None'),
    (18, 'No', 'No', 'None'),
    (19, 'No', 'No', 'None'),
    (20, 'No', 'No', 'None');

-- External Data Sources
INSERT INTO ExternalDataSources (DataID, EconomicIndicators, NewsEvents, RegulatoryChanges, MarketVolatility)
VALUES
    (1, 'Stable', 'No major events', 'No changes', 'Low'),
    (2, 'Growth', 'Announcement of new regulations', 'Increased regulations', 'Moderate'),
    (3, 'Stable', 'No major events', 'No changes', 'Low'),
    (4, 'Decline', 'Market crash reported', 'Proposed changes in regulations', 'High'),
    (5, 'Stable', 'No major events', 'No changes', 'Low'),
    (6, 'Growth', 'Positive economic news', 'Revised regulations', 'Moderate'),
    (7, 'Stable', 'No major events', 'No changes', 'Low'),
    (8, 'Decline', 'Negative economic indicators', 'New regulations implemented', 'High'),
    (9, 'Stable', 'No major events', 'No changes', 'Low'),
    (10, 'Growth', 'Positive economic outlook', 'Regulatory adjustments', 'Moderate'),
    (11, 'Stable', 'No major events', 'No changes', 'Low'),
    (12, 'Decline', 'Market downturn', 'Changes in regulatory enforcement', 'High'),
    (13, 'Stable', 'No major events', 'No changes', 'Low'),
    (14, 'Growth', 'Positive economic indicators', 'Proposed regulatory reforms', 'Moderate'),
    (15, 'Stable', 'No major events', 'No changes', 'Low'),
    (16, 'Decline', 'Economic slowdown', 'Regulatory compliance updates', 'High'),
    (17, 'Stable', 'No major events', 'No changes', 'Low'),
    (18, 'Growth', 'Economic recovery', 'Revised regulatory guidelines', 'Moderate'),
    (19, 'Stable', 'No major events', 'No changes', 'Low'),
    (20, 'Decline', 'Market uncertainty', 'Pending regulatory decisions', 'High');

ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'Sunday01@new';

#prevention
#avoidance
#detection

# data loading:

In [1]:
import pandas as pd
import numpy as np
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sunday01@new",
    database="users_data_new"
)

# Function to fetch data from MySQL and create DataFrame
def fetch_data_to_dataframe(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    return df

# List of table names
table_names = [
    "BlockchainTransactions",
    "UserProfile",
    "BehavioralPatterns",
    "CreditAndFinancialHistory",
    "NetworkAnalysis",
    "SentimentAnalysis",
    "CommunityBehavior",
    "SystemAndPlatformScores",
    "DeviceAndIPInformation",
    "MachineLearningFeatures",
    "HistoricalFraudData",
    "ExternalDataSources"
]

# Dictionary to store DataFrames
dataframes = {}

# Fetch data and create DataFrames for each table
for table_name in table_names:
    dataframes[table_name] = fetch_data_to_dataframe(table_name)

# Close the database connection
conn.close()

C:\Users\Rochan\AppData\Local\Temp\ipykernel_20300\1263580282.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [1]:
def droper(data_frames, table_name, col_arr):
    data_frames[table_name] = data_frames[table_name].drop(columns=col_arr)

In [2]:
def combiner(data_frame, table_names):
    combined_dataframes = {}
    for table_name in table_names:
        combined_dataframes[table_name] = data_frame[table_name]
    
    combined_df = pd.concat(combined_dataframes.values(), axis=1)



    
    return combined_df

# data View :

In [2]:
dataframes["BlockchainTransactions"].sample(10) #p:time,number,one-hot(reciver) r:id

,TransactionID,Timestamp,SenderAddress,ReceiverAddress,AmountTransferred,TransactionFee,BlockHeight
1,2,2024-03-12 18:45:00,sender_address_2,receiver_address_2,250.75,1.2,11235
19,20,2024-02-23 09:40:00,sender_address_20,receiver_address_20,260.30,1.3,11253
12,13,2024-03-01 11:45:00,sender_address_13,receiver_address_13,75.20,0.4,11246
4,5,2024-03-09 08:10:00,sender_address_5,receiver_address_5,150.30,0.8,11238
7,8,2024-03-06 10:30:00,sender_address_8,receiver_address_8,80.40,0.3,11241
17,18,2024-02-25 14:35:00,sender_address_18,receiver_address_18,175.40,0.9,11251
9,10,2024-03-04 17:20:00,sender_address_10,receiver_address_10,180.65,0.9,11243
13,14,2024-02-29 16:10:00,sender_address_14,receiver_address_14,150.90,0.8,11247
5,6,2024-03-08 16:20:00,sender_address_6,receiver_address_6,300.90,1.5,11239
3,4,2024-03-10 11:15:00,sender_address_4,receiver_address_4,75.60,0.4,11237

In [3]:
dataframes["UserProfile"].sample(10)#p:date,lableEncoding+Nlp r:name,adress,phone-number,email,id

,UserID,Name,Address,Email,PhoneNumber,KYCStatus,AccountCreationDate
9,10,James Lewis,"159 Spruce St, Specialcity",james.lewis@example.com,444-555-6666,Verified,2023-10-30
4,5,Emma Garcia,"654 Maple St, Othercity",emma.garcia@example.com,666-777-8888,Verified,2023-05-12
15,16,Ethan Hernandez,"159 Birchcrest St, Mysteryville",ethan.hernandez@example.com,555-666-7777,Verified,2024-04-10
18,19,Sebastian Green,"852 Birchwoodcrest St, Fantasyland",sebastian.green@example.com,777-000-1111,Verified,2024-07-25
3,4,Michael Brown,"321 Pine St, Somecity",michael.brown@example.com,222-333-4444,Verified,2023-04-05
2,3,Alice Johnson,"789 Oak St, Anycity",alice.johnson@example.com,555-555-5555,Pending,2023-03-10
6,7,Olivia Robinson,"741 Birch St, Yetanothercity",olivia.robinson@example.com,333-222-1111,Verified,2023-07-03
17,18,Alexander Scott,"258 Sprucecrest St, Dreamville",alexander.scott@example.com,000-999-8888,Pending,2024-06-20
16,17,Emily King,"357 Cedarcrest St, Whimsytown",emily.king@example.com,888-777-6666,Verified,2024-05-15
7,8,William Clark,"852 Oakwood St, Differentcity",william.clark@example.com,777-888-9999,Verified,2023-08-18

In [4]:
dataframes["BehavioralPatterns"].sample(10)#p:number,nlp+lableencoding

,UserID,TransactionFrequency,TransactionSizeDistribution,GeographicInconsistencies,TimeOfDayPatterns,RegularVsIrregularBehavior,ChangesInBehaviorOverTime
11,12,19.4,Normal,No,Night,Regular,Increasing
2,3,20.1,Normal,No,Afternoon,Regular,Stable
3,4,15.3,Normal,Yes,Night,Irregular,Stable
0,1,12.5,Normal,No,Morning,Regular,Stable
6,7,22.0,Normal,Yes,Afternoon,Irregular,Increasing
17,18,14.9,Normal,No,Evening,Regular,Stable
12,13,13.7,Normal,Yes,Morning,Irregular,Stable
1,2,8.2,Skewed towards large transactions,Yes,Evening,Irregular,Increasing
10,11,11.5,Skewed towards large transactions,No,Afternoon,Regular,Decreasing
8,9,14.2,Normal,No,Morning,Regular,Stable

In [ ]:
dataframes['UserProfile'].sample(10)
dataframes['BehavioralPatterns'].sample(10)
dataframes['CreditAndFinancialHistory'].sample(10)
dataframes['NetworkAnalysis'].sample(10)
dataframes['SentimentAnalysis'].sample(10)
dataframes['CommunityBehavior'].sample(10)
dataframes['SystemAndPlatformScores'].sample(10)
dataframes['DeviceAndIPInformation'].sample(10)
dataframes['MachineLearningFeatures'].sample(10)
dataframes['HistoricalFraudData'].sample(10)

In [5]:
dataframes['CreditAndFinancialHistory'].sample(10) #number,NLP+label r:id

,UserID,CreditScore,LoanRepaymentHistory,CreditCardUtilization,IncomeLevel,DebtToIncomeRatio,PastFraudulentActivity
8,9,730,Good,0.3,52000.0,0.22,No
18,19,780,Excellent,0.2,61000.0,0.19,No
17,18,710,Good,0.3,53000.0,0.23,No
12,13,690,Good,0.3,49000.0,0.28,No
10,11,710,Good,0.4,57000.0,0.26,No
3,4,700,Good,0.4,55000.0,0.28,No
16,17,700,Good,0.4,55000.0,0.27,No
15,16,740,Excellent,0.2,63000.0,0.21,No
14,15,660,Fair,0.5,43000.0,0.31,No
13,14,720,Good,0.3,51000.0,0.24,No

In [6]:
dataframes['NetworkAnalysis'].sample(10)#number,lable r:id

,SenderUserID,ReceiverUserID,DegreeCentrality,ClusteringCoefficients,AnomaliesInNetwork
5,6,7,0.71,0.72,None
13,14,15,0.74,0.64,None
16,17,18,0.77,0.69,None
3,4,5,0.76,0.68,None
11,12,13,0.78,0.67,None
10,11,12,0.72,0.74,None
7,8,9,0.68,0.79,None
8,9,10,0.75,0.65,None
9,10,11,0.81,0.61,None
2,3,1,0.69,0.75,None

In [7]:
dataframes['SentimentAnalysis'].sample(10)#lable+nlp

,UserID,SocialMediaSentiment,TransactionSentiment,FinancialTransactionSentiment
6,7,Positive,Neutral,Positive
0,1,Positive,Neutral,Positive
17,18,Positive,Positive,Positive
11,12,Positive,Positive,Positive
1,2,Neutral,Negative,Neutral
15,16,Positive,Neutral,Positive
14,15,Positive,Positive,Positive
2,3,Positive,Positive,Positive
8,9,Positive,Positive,Positive
10,11,Neutral,Negative,Neutral

In [8]:
dataframes['CommunityBehavior'].sample(10)#lable+nlp,number r:id

,UserID,ReputationScore,ParticipationInForums,FeedbackFromPeers,CommunityEndorsementsWarnings
12,13,78,Active,Positive,Endorsed by community
15,16,82,Active,Positive,Endorsed by community
8,9,92,Active,Positive,Endorsed by community
11,12,94,Active,Positive,Endorsed by community
3,4,80,Active,Positive,Endorsed by community
18,19,88,Active,Positive,Endorsed by community
16,17,68,Moderate,Neutral,No warnings
7,8,65,Moderate,Neutral,No warnings
6,7,85,Active,Positive,Endorsed by community
2,3,95,Active,Positive,Endorsed by community

In [9]:
dataframes['SystemAndPlatformScores'].sample(10)#lable,number r:id

    UserID  SystemTrustScore  PlatformReliabilityScore PastSecurityIncidents
2        3                95                        90                    No
17      18                92                        87                    No
13      14                80                        75                    No
8        9                94                        89                    No
7        8                70                        65                    No
1        2                80                        75                    No
5        6                92                        87                    No
14      15                90                        85                    No
10      11                78                        73                    No
4        5                75                        70                    No

In [10]:
dataframes['DeviceAndIPInformation'].sample(10)#lable r:(id,ip,loc)

,UserID,DeviceID,IPAddress,DeviceLocation,DeviceTypeAndVersion,ProxyOrVPNUsage
9,10,device_id_10,10.0.0.20,Phoenix,Mobile - Android 10,No
5,6,device_id_6,192.168.1.30,Miami,Desktop - Windows 11,No
8,9,device_id_9,192.168.1.40,Dallas,Laptop - Windows 10,Yes
0,1,device_id_1,192.168.1.10,New York,Mobile - iOS 14.5,No
13,14,device_id_14,10.0.0.30,Austin,Desktop - Linux Ubuntu 20.04,No
18,19,device_id_19,192.168.1.80,Minneapolis,Laptop - Windows 11,Yes
6,7,device_id_7,10.0.0.15,Seattle,Mobile - iOS 15.0,Yes
15,16,device_id_16,192.168.1.70,Portland,Laptop - Windows 10,No
19,20,device_id_20,10.0.0.40,Detroit,Mobile - iOS 15.0,No
11,12,device_id_12,10.0.0.25,San Diego,Laptop - Windows 11,No

In [11]:
dataframes['MachineLearningFeatures'].sample(10)#lable r:id

,UserID,HistoricalFraudData,AnomalyDetectionFeatures,ClusteringFeatures,DeepLearningModelFeatures
13,14,No,Yes,Yes,No
2,3,No,Yes,No,Yes
6,7,No,Yes,No,Yes
7,8,No,Yes,Yes,No
15,16,No,Yes,No,Yes
17,18,No,Yes,No,Yes
19,20,No,Yes,Yes,No
11,12,No,Yes,No,Yes
9,10,No,Yes,No,Yes
14,15,No,Yes,No,Yes

In [12]:
dataframes['HistoricalFraudData'].sample(10)#lable r:id

,TransactionID,FraudulentTransactions,PreviousFraudulentActivity,BlacklistedEntities
12,13,No,No,None
4,5,No,No,None
2,3,No,No,None
14,15,No,No,None
3,4,No,No,None
11,12,No,No,None
5,6,No,No,None
0,1,No,No,None
18,19,No,No,None
8,9,No,No,None

# data preprocessing - as per table:

## date and Time:

In [ ]:
import pandas as pd

def handle_dates(data, column_names):
    """
    Convert specified columns to datetime objects using pd.to_datetime.

    Parameters:
    data (DataFrame): The input DataFrame.
    column_names (list): List of column names containing date information.

    Returns:
    DataFrame: The DataFrame with specified columns converted to datetime objects.
    """

    df = data.copy()

    for column_name in column_names:
        df[column_name] = pd.to_datetime(df[column_name])

    return df

# Example usage:
data = {
    'date_column': ['2022-01-01', '2022-02-01', '2022-03-01'],
    'value': [10, 20, 30]
}
df = pd.DataFrame(data)

processed_df = handle_dates(df, ['date_column'])
print(processed_df)

## encoding

In [14]:
def lableEncoding(df,categorical_columns):
    from sklearn.preprocessing import LabelEncoder
    label_encoder = LabelEncoder()


    df[categorical_columns] = df[categorical_columns].apply(label_encoder.fit_transform)

In [ ]:
def OnehotcodeEncoding(df,categorical_columns):



    df = pd.get_dummies(df, columns=categorical_columns)

# Step 1: Imputation of missing values
imputer = SimpleImputer(strategy='mean')
df[columns_to_preprocess] = imputer.fit_transform(df[columns_to_preprocess])

# Step 2: Scaling using Min-Max scaler
scaler = MinMaxScaler()
df[columns_to_preprocess] = scaler.fit_transform(df[columns_to_preprocess])

# Step 3: Normalization
normalizer = Normalizer()
df[columns_to_preprocess] = normalizer.fit_transform(df[columns_to_preprocess])

## missing data prediction method

In [2]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

def apply_mice(data, max_iter=10, random_state=None):


    # Convert to numpy array if DataFrame is provided
    if hasattr(data, 'to_numpy'):
        data = data.to_numpy()

    # Initialize MICE imputer
    mice_imputer = IterativeImputer(max_iter=max_iter, random_state=random_state)

    # Fill missing values using MICE
    filled_data = mice_imputer.fit_transform(data)

    return filled_data

ModuleNotFoundError: No module named 'tensorflow'

## scaling

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def apply_feature_scaling(dataframe, column_names):
    """
    Apply all types of feature scaling combinations and select the best one.

    Parameters:
    - dataframe: pandas DataFrame, input data
    - column_names: list of strings, names of columns to be scaled

    Returns:
    - str, best feature scaling combination
    """

    # Extract the specified columns from the DataFrame
    X = dataframe[column_names].values

    # Split the data into training and testing sets
    X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

    # Define a dictionary to store the results of different scaling methods
    scaling_results = {}

    # Apply different scaling techniques
    for scaler in [StandardScaler(), MinMaxScaler(), RobustScaler()]:
        scaled_X_train = scaler.fit_transform(X_train)
        scaled_X_test = scaler.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(scaled_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(scaled_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        scaling_results[str(scaler)] = mse

    # Find the best scaling method with the lowest MSE
    best_scaling = min(scaling_results, key=scaling_results.get)

    return best_scaling

# Example usage:
# Assuming 'dataframe' is your DataFrame and 'column_names' is a list of column names to be scaled
# best_scaling = apply_feature_scaling(dataframe, column_names)
# print("Best scaling technique:", best_scaling)

## normalisation

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def apply_feature_normalization(dataframe, column_names):
    """
    Apply all types of feature normalization combinations and select the best one.

    Parameters:
    - dataframe: pandas DataFrame, input data
    - column_names: list of strings, names of columns to be normalized

    Returns:
    - str, best feature normalization combination
    """

    # Extract the specified columns from the DataFrame
    X = dataframe[column_names].values

    # Split the data into training and testing sets
    X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

    # Define a dictionary to store the results of different normalization methods
    normalization_results = {}

    # Apply normalization techniques
    for normalization_method in ['l1', 'l2', 'max']:
        normalizer = Normalizer(norm=normalization_method)
        normalized_X_train = normalizer.fit_transform(X_train)
        normalized_X_test = normalizer.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(normalized_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(normalized_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        normalization_results[normalization_method] = mse

    # Apply standardization techniques
    for scaler in [StandardScaler(), MinMaxScaler(), RobustScaler()]:
        scaled_X_train = scaler.fit_transform(X_train)
        scaled_X_test = scaler.transform(X_test)

        # Train a linear regression model
        model = LinearRegression()
        model.fit(scaled_X_train, y_train)

        # Evaluate the model
        y_pred = model.predict(scaled_X_test)
        mse = mean_squared_error(y_test, y_pred)

        # Store the results
        normalization_results[str(scaler)] = mse

    # Find the best normalization method with the lowest MSE
    best_normalization = min(normalization_results, key=normalization_results.get)

    return best_normalization

# Example usage:
# Assuming 'dataframe' is your DataFrame and 'column_names' is a list of column names to be normalized
# best_normalization = apply_feature_normalization(dataframe, column_names)
# print("Best normalization method:", best_normalization)

# Feature Engennering

## adding :

## function transformer to make normal curve data:

In [ ]:
import numpy as np
from scipy.stats import yeojohnson

def yeo_johnson_transform(data, lmbda=None):
    """
    Perform Yeo-Johnson transformation on the given data.

    Parameters:
    data (array-like): The data to be transformed.
    lmbda (float or None, optional): If None, the optimal lambda for the transformation is determined
                                     using maximum likelihood estimation. If specified, this value
                                     will be used as lambda.

    Returns:
    array-like: The transformed data.
    """
    transformed_data, lmbda = yeojohnson(data, lmbda=lmbda)
    return transformed_data, lmbda

# Example usage:
data = np.random.randn(100)  # Sample data
transformed_data, lmbda = yeo_johnson_transform(data)
print("Transformed Data:", transformed_data)
print("Lambda:", lmbda)

# data prepration:

## data removal and droping

## regularisation

In [3]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

def regularization_combinations(X, y, regularization_types=['ridge', 'lasso', 'elasticnet'], alpha_values=[0.01, 0.1, 1.0], l1_ratios=[0.1, 0.5, 0.9]):
    """
    Perform various combinations of regularization techniques and hyperparameter tuning to find the best results.

    Parameters:
    X (array-like): The input features.
    y (array-like): The target variable.
    regularization_types (list): List of regularization techniques to try. Default is ['ridge', 'lasso', 'elasticnet'].
    alpha_values (list): List of alpha values to try for Ridge and Lasso regularization. Default is [0.01, 0.1, 1.0].
    l1_ratios (list): List of l1_ratios to try for Elastic Net regularization. Default is [0.1, 0.5, 0.9].

    Returns:
    dict: A dictionary containing the best model and its parameters.
    """

    best_model = None
    best_params = {}
    best_score = float('inf')

    for regularization_type in regularization_types:
        if regularization_type == 'ridge':
            parameters = {'regressor__alpha': alpha_values}
            model = Ridge()
        elif regularization_type == 'lasso':
            parameters = {'regressor__alpha': alpha_values}
            model = Lasso()
        elif regularization_type == 'elasticnet':
            parameters = {'regressor__alpha': alpha_values, 'regressor__l1_ratio': l1_ratios}
            model = ElasticNet()

        pipeline = Pipeline([
            ('scaler', StandardScaler()),
            ('regressor', model)
        ])

        grid_search = GridSearchCV(pipeline, parameters, cv=5, scoring='neg_mean_squared_error')
        grid_search.fit(X, y)

        if grid_search.best_score_ < best_score:
            best_model = grid_search.best_estimator_
            best_params = grid_search.best_params_
            best_score = grid_search.best_score_

    return {'best_model': best_model, 'best_params': best_params, 'best_score': best_score}

# Example usage:
from sklearn.datasets import load_boston
boston = load_boston()
X, y = boston.data, boston.target

result = regularization_combinations(X, y)
print("Best Model:", result['best_model'])
print("Best Parameters:", result['best_params'])
print("Best Score:", result['best_score'])

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

## combinig

# MLmodel chooser (all model best-chooser algorithm + with bagging and  boosting)[classification]

# DLModel[classification]

# API (Fast-Api)